*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: bold;
    color: blue;
    text-align: center;
    border-bottom: 3px blue;
}